.footer{
    width: 100%;
    max-width: 880px;
    padding: 0;
    margin: 67px auto 60px;
}
@media screen and (max-width: 900px){
    .footer{
        width: auto;
        margin-left: 19px;
        margin-right: 19px;
        margin-bottom: 45px;
    }
}
@media screen and (max-width: 550px){
    .footer{
        margin-top: 45px;
        margin-bottom: 36px;
    }
}